#root {
  margin: auto;
  text-align: center;
}

#nc-logo {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
}

.home-link {
  color: white;
}

.article-card {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.article-card img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-right: 15px;
}

.article-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex: 1;
}

.comment-card, #comment-entry {
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 5px;
}